
.subtitle_hover.theme-glass-light,
body.theme-glass-light .subtitle_hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--text-primary);
  border:1px solid var(--border-color);
}
/* === Start index.css === */
body.theme-glass-light {
  --bg-opaque: #f5f5f5;
  --bg-nt-primary: rgb(238,238,238); /*non-translucent*/
  --bg-nt-secondary: rgb(230,230,230); /*non-translucent*/
  --text-primary: #1a1a1a;
  --text-secondary: #666666;
  --text-tertiary: rgba(0, 0, 0, 0.4);

  --bg: rgba(85, 85, 85, 0.1);
  --bg-intense: rgba(85, 85, 85, 0.15);
  --border-color: rgba(85, 85, 85, 0.15);
  --border-color-intense: rgba(85, 85, 85, 0.25);


  --backdrop-filter: blur(10px) saturate(2) brightness(1);
  --backdrop-filter-nodim: blur(10px) saturate(2) brightness(1);

  /* Dark mode flashcard highlight */
  --flashcard-highlight: #ff5ec7;

  --panel-bg: var(--bg);
  --panel-bg-hover: var(--bg-intense);
  --panel-border: var(--border-color);
  --panel-border-hover: var(--border-color-intense);
  --bg-primary: var(--bg);
  --bg-secondary: var(--bg-intense);
    --bg-tertiary: var(--bg-intense);
  --shadow-border:var(--border-color) 0px 0px 0px 1px;

  --overlay-bg: rgba(255,255,255, 0.6);
  --overlay-bg-soft: rgba(255,255,255, 0.4);
  -webkit-text-stroke: 1px var(--bg);


  /*define a new variable*/
  --glass-spacing: 8px;

}

/* === End index.css === */


/* When inside subtitle hover */
.subtitle_hover {
  --prosody-overlay-height: 2px;
}

.subtitle_hover .pill {
  position: relative;
}

body.theme-glass-light .subtitle_hover .prosody-overlay-wrapper,
.subtitle_hover.theme-glass-light .prosody-overlay-wrapper {
  filter: none;
}

/* === End Prosody renderer === */

/* === Start Pill.css === */
body.theme-glass-light .label-pill,
body.theme-glass-light .btn-pill,
body.theme-glass-light .label-status {
  box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* === End Pill.css === */

/* === ProgressBar.css === */
body.theme-glass-light .progress-bar-track {
  background: rgba(255, 255, 255, 0.1);
}
/* === End ProgressBar.css === */

body.theme-glass-light .panel{
  margin:var(--glass-spacing);
  border-radius: var(--radius-full);
}
body.theme-glass-light .reader-sidebar.panel{
  border-radius:var(--radius-md);
  height:calc(100vh - 48px - 30px - calc(4 * var(--glass-spacing)));
  top:calc(48px + var(--glass-spacing))
}
body.theme-glass-light nav{
  background:transparent;
  border-radius:0 !important;
  border:none;
  padding:0;
  margin: 0 var(--glass-spacing) !important;
}
body.theme-glass-light .nav-group, body.theme-glass-light .video-controls .video-controls-left, body.theme-glass-light .video-controls .video-controls-right{
  background:var(--bg);
  border-radius:var(--radius-full);
  border:1px solid var(--border-color);
  padding: 0;
  gap: 0;
  overflow:hidden;
}
body.theme-glass-light .nav-group > *, body.theme-glass-light .video-controls .video-controls-left > *, body.theme-glass-light .video-controls .video-controls-right > *{
  background:transparent;
  border:none;
  height:100%;
  border-radius:0;
  padding: 0 0.5rem;
}
body.theme-glass-light .nav-group > *:not(:nth-child(1)){
  border-left:1px solid var(--border-color);
}
body.theme-glass-light .nav-group > *:first-child{
  padding-left:0.5rem;
}
body.theme-glass-light .nav-group > *:last-child{
  padding-right:0.5rem;
}

body.theme-glass-light .drop-zone{
  border-radius:var(--radius-lg);
}

body.theme-glass-light .video-controls .panel{
  background:transparent;
  border-radius:0 !important;
  border:none;
  padding:0;
  margin: 0 var(--glass-spacing) !important;
  backdrop-filter:none;
}
body.theme-glass-light .video-controls .panel .progress-bar-container, body.theme-glass-light .video-controls .panel .progress-bar, body.theme-glass-light .video-controls .panel .progress-bar-fill{
  border-radius:var(--radius-full);
  overflow:hidden;
}
body.theme-glass-light .video-controls .video-controls-left, body.theme-glass-light .video-controls .video-controls-right, body.theme-glass-light .video-controls .panel .progress-bar-container{
  backdrop-filter:var(--backdrop-filter);
}
