anki-cache.pkl
dictionary_cache.pkl
python.tar.gz
env/
py/python/
node_modules/
.idea/
__pycache__/
.DS_Store
mLearn-darwin-arm64/
languages/__pycache__/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

