node_modules
dist
dist-electron
dist-mobile

android
ios

.idea
src/root-of-app/dictionaries
.github
.vscode
.venv
__pycache__
scripts/scrapeGrammar.js
package-lock.json
website/.env.local
website

website/node_modules
website/worker/node_modules
website/frontend/node_modules
