.tooltip-trigger {
  position: relative;
  display: inline-flex;
}

.tooltip-content {
  position: absolute;
  left: 0;
  z-index: var(--z-tooltip);
  pointer-events: none;
  white-space: nowrap;
}

.tooltip-content--top {
  bottom: 100%;
  margin-bottom: var(--spacing-1);
}

.tooltip-content--bottom {
  top: 100%;
  margin-top: var(--spacing-1);
}

.tooltip-text {
  padding: var(--spacing-1) var(--spacing-2);
  background: var(--bg-nt-secondary); /*transparency workaround*/
  border: 1px solid var(--border-color);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
}
